* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333437;
    margin: 60px 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

button {
    font-family: "Roboto Mono";
    font-weight: 500;
    outline: none;
    border: none;
    transition: all ease-in-out 0.2s;
    font-size: 22px;
    background-color: transparent;
}

h1 {
    font-family: "Roboto Mono";
    font-weight: 600;
    font-size: 52px;
    text-transform: uppercase;
}

h2 {
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
}


.btn-restart {
    color: #636669;
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (hover: hover) {
    .btn-restart:not(:disabled):hover {
        color: #c0bfbf;
    }
}

.main-heading {
    color: #ffffff;
}

.game-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 40px;
}

.game-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#game {
    height: 184px;
    overflow: hidden;
    position: relative;
}

#game:focus {
    outline: 0;
}

#game:focus #words {
    filter: blur(0);
}

#game:focus #focus-error {
    display: none;
}

div.word {
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 32px;
    margin: 9px 10px;
    display: inline-block;
    line-height: 42px;
    letter-spacing: 1px;
}

#words {
    filter: blur(10px);
    color: #636669;
    opacity: 1;
}

#focus-error {
    color: white;
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 20px;
    transition: all ease-in-out 0.2s;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.letter.correct {
    color: white;
}

.letter.incorrect {
    color: #e34040;
}

.letter.underline {
    text-decoration: underline #e34040 2px;
}

.letter.extra {
    color: #7e2525;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#cursor {
    display: none;
    width: 3px;
    height: 42px;
    background-color: #008cff;
    position: fixed;
    top: 272px;
    left: 129px;
    animation: blink .7s infinite;
}

#game:focus #cursor {
    display: block;
}

#info {
    color: #008cff;
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 34px;
}

#game.over #words{
    opacity: .5;
    filter: blur(0);
}

#game.over:focus #cursor {
    display: none;
}

#game.over #focus-error {
    display: none;
}

.score-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: start;
}

.score-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 2px;
    flex-wrap: wrap;
    column-gap: 15px;
}

.score {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: calc((100% - 20px) / 2);
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background-color: #2b2e31;
}
